/*
 * This file contains styling for the Main view.
 */

/*
 * Generates a set of style rules for the "navigation" tab UI.
 */
@include extjs-tab-panel-ui($ui: 'navigation',
    $ui-tab-background-color: transparent,
    $ui-tab-background-color-over: #505050,
    $ui-tab-background-color-active: #303030,
    $ui-tab-background-gradient: 'none',
    $ui-tab-background-gradient-over: 'none',
    $ui-tab-background-gradient-active: 'none',
    $ui-tab-color: #acacac,
    $ui-tab-color-over: #c4c4c4,
    $ui-tab-color-active: #fff,
    $ui-tab-glyph-color: #acacac,
    $ui-tab-glyph-color-over: #c4c4c4,
    $ui-tab-glyph-color-active: #fff,
    $ui-tab-glyph-opacity: 1,
    $ui-tab-border-radius: 0,
    $ui-tab-border-width: 0,
    $ui-tab-inner-border-width: 0,
    $ui-tab-padding: 24px,
    $ui-tab-margin: 0,
    $ui-tab-font-size: 15px,
    $ui-tab-font-size-over: 15px,
    $ui-tab-font-size-active: 15px,
    $ui-tab-line-height: 19px,
    $ui-tab-font-weight: bold,
    $ui-tab-font-weight-over: bold,
    $ui-tab-font-weight-active: bold,
    $ui-tab-icon-width: 24px,
    $ui-tab-icon-height: 24px,
    $ui-tab-icon-spacing: 5px,
    $ui-bar-background-color: #404040,
    $ui-bar-background-gradient: 'none',
    $ui-bar-padding: 0,
    $ui-strip-height: 0);

/*
 * Generates a set of style rules for the "navigation" panel UI.
 */
@include extjs-panel-ui($ui: 'navigation',
    $ui-header-color: #fff,
    $ui-header-glyph-color: #fff,
    $ui-header-glyph-opacity: 1,
    $ui-header-font-size: 20px,
    $ui-header-line-height: 24px,
    $ui-header-font-weight: bold,
    $ui-header-icon-height: 24px,
    $ui-header-icon-width: 24px,
    $ui-header-icon-spacing: 15px,
    $ui-header-background-color: $base-color,
    $ui-header-padding: 0,
    $ui-header-text-margin: 36px,
    $ui-header-noborder-adjust: false);

.x-title-icon-navigation {
    font-family: 'Font Awesome 5 Free';
    color: #fff;
    font-size: 24px;
    line-height: 24px;
}

.x-tab-icon-el-navigation {
    font-family: 'Font Awesome 5 Free';
    color: #acacac;

    .x-tab-over & {
        color: #c4c4c4;
    }

    .x-tab-active & {
        color: #fff;
    }
}

.x-panel-header-title-navigation>.x-title-text-navigation:after {
    top: 30px;
    right: -24px;
}

// main style
.main-view {
    .main-header {
        background: white !important;

        .logo {
            &:hover {
                cursor: pointer;
            }
        }

        .account-items {
            .avatar {
                width: 35px;
                height: 35px;
                border-radius: 50%
            }

            .quick-account-info {
                margin-right: 5px;

                .account-user {
                    font-size: 14px;
                    font-weight: bold;
                    color: black;
                }

                .account-role {
                    font-size: 12px;
                    color: #64748B
                }
            }

            .button-logout {
                position: absolute !important;
                background: transparent;
                border: none;

                .x-btn-icon-el.x-btn-icon-el-default-small {
                    color: black;
                }

                &.x-btn-over {
                    border: none !important;
                }

                &.x-focus.x-btn-focus.x-btn-default-small {
                    -webkit-box-shadow: none !important
                }
            }
        }
    }

    .main-sidebar {
        background: $background-main-sidebar;

        .main-sidebar-title {
            line-height: 50px;
            border-bottom: 1px solid white;

            .main-sidebar-title-text {
                color: white;
                font-size: 25px;
                font-weight: 600;
            }
        }

        .main-sidebar-content {
            background: $background-main-sidebar;
            padding: 5px !important;

            .iconMenu {
                color: white !important;
                line-height: $height-treelist-row;
                font-size: 20px;
                width: $height-treelist-row;
                padding: 0 5px !important;
            }
        }
    }

    .main-center {
        background: #DCDCDC;

        .main-center-header {
            line-height: 50px;

            .icon-collapse {
                background: white;
                border-radius: 8px;
                border: none;

                .x-btn-icon-el-default-small {
                    color: $background-main-sidebar;
                }
            }

            .list-breadscrumb {}
        }

        .main-center-content {
            padding: 10px;
            box-shadow: 2px 2px 10px 0 rgba(0, 0, 0, 0.5);
            border-radius: 8px !important;
            overflow: hidden;
            background: white
        }
    }

    .x-treelist-row {
        background: $background-main-sidebar;
        height: $height-treelist-row;
        padding: 0 !important;
    }

    .x-treelist-item-text {
        color: white !important;
        line-height: $height-treelist-row;
        font-size: 20px;
        margin-left: $height-treelist-row;
    }

    .x-treelist-container {
        padding: 0 10px !important;
    }

    .x-treelist-item-selected {
        .x-treelist-row {
            background: black !important;
        }
    }

    .x-treelist-item-over {
        .x-treelist-row-over {
            background: rgb(65, 65, 65) !important;
        }
    }

    .x-treelist-toolstrip {
        background: $background-main-sidebar;

        .x-treelist-item-selected {
            background: black !important;
        }
    }
}

.field-csstyle {
    .x-list-plain {
        margin: 3px 0 !important;
    }
}